@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #43cb9c;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #55ddaf;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #43cb9c black;
}